* {
  margin: 0;
  padding: 0;
}

.title {
  color: rgb(23, 30, 222);
}

.header__image {
  position: absolute;
  width: 100px;
  top: 1rem;
  right: 1rem;
}

.paragraph {
  color: whitesmoke;
}

.button {
  border-radius: 4px;
  height: 2rem;
  width: auto;
}
.button.button__green {
  background-color: #2e871a;
  color: white;
  transition: 1s;
}
.button.button__green:hover {
  box-shadow: inset 0rem 5rem #33e70a;
  color: black;
}
.button.button__yellow {
  background-color: rgb(223, 12, 8);
  color: white;
  transition: 1s;
}
.button.button__yellow:hover {
  box-shadow: inset 0rem 5rem rgb(255, 235, 13);
  color: black;
}

body,
html {
  color: white;
  font-family: "Preahvihear", sans-serif;
  background: #161515;
  text-align: center;
}

h1 {
  color: yellow;
  font-size: 2rem;
}

h2 {
  margin: 10px;
}

.buttonStart {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 12rem;
  transition: 0.5s ease-in-out;
}
.buttonStart:hover {
  background-color: blue;
  color: white;
}

.mainImage {
  margin: auto;
  width: 74%;
}

.gameBox {
  background-color: rgb(18, 17, 17);
  height: 560px;
  width: 560px;
  margin: auto;
}

.endScreen {
  background-color: yellow;
  border: 3px solid red;
  color: black;
  height: 200px;
  left: -200px;
  margin-left: 50%;
  position: absolute;
  top: 200px;
  width: 400px;
}

.victoryScreen {
  background-color: yellow;
  border: 3px solid red;
  color: black;
  height: 400px;
  left: -200px;
  margin-left: 50%;
  position: absolute;
  top: 200px;
  width: 400px;
}

.playButton {
  color: white;
  background-color: rgb(198, 40, 13);
  width: 150px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  margin: 0 auto;
  width: 560px;
}
.game div {
  background-color: rgb(18, 17, 17);
  color: transparent;
  height: 20px;
  width: 20px;
}
.game div.pac-dots {
  background-color: rgb(60, 226, 60);
  border: 8px solid rgb(18, 17, 17);
  border-radius: 100%;
  box-sizing: border-box;
}
.game div.wall {
  background-color: blue;
}
.game div.ghost-area {
  background-color: grey;
}
.game div.ghost {
  background-image: url("/Pacman/assets/img/ghost-r.png");
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.game div.ghost.left {
  transform: rotateY(180deg);
}
.game div.ghost.right {
  transform: rotate(0deg);
}
.game div.power {
  background-color: rgb(201, 93, 16);
  border: 2px solid rgb(18, 17, 17);
  border-radius: 100%;
  box-sizing: border-box;
}
.game div.pacman {
  background-color: transparent;
  animation-name: twopac;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
.game div.pacman.up {
  transform: rotate(-90deg);
}
.game div.pacman.down {
  transform: rotate(90deg);
}
.game div.pacman.left {
  transform: rotateY(180deg);
}
.game div.pacman.right {
  transform: rotate(0deg);
}
@keyframes twopac {
  0% {
    background-image: url("/Pacman/assets/img/pacman2.png");
  }
  100% {
    background-image: url("/Pacman/assets/img/Pac-Man.png");
  }
}/*# sourceMappingURL=Pacman.css.map */